# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.env
.pytest_cache/

# JS/React/Vitepress
node_modules/
dist/
.eslintcache
docs/.vitepress/dist/
docs/.vitepress/cache/

# System/IDE
.DS_Store
.vscode/
.idea/

# Database/Storage (Local Data)
data/
*.db
*.log

# Infrastructure
infrastructure/tor/data/
