global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

listen stats
    bind :1936
    mode http
    stats enable
    stats uri /

listen tor-cluster
    bind :8118
    mode tcp
    balance roundrobin
    # Distribuzione su 5 istanze Tor locali
    server tor1 naso-tor-1:9050 check
    server tor2 naso-tor-2:9050 check
    server tor3 naso-tor-3:9050 check
    server tor4 naso-tor-4:9050 check
    server tor5 naso-tor-5:9050 check
