celery
redis
rabbitmq
requests
sqlalchemy
psycopg2-binary
elasticsearch
pyyaml
yara-python
python-dotenv
playwright
playwright-stealth
beautifulsoup4
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-elasticsearch
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp
telethon

httpx
tenacity
-r shared/requirements-shared.txt
